*{
  font-family: 'Oswald', sans-serif;
}

body{
  background-color: rgb(107, 204, 188);
}

.col-2{
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  margin-right: 3px;
}

.current-weather{
  justify-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  margin-right: 3px;
}